body {
	background-color: grey !important;
}
/*** Header ***/
#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
	height: relative;
}
.navbar-brand {
	padding-top: 25px;
}
a.navbar-brand {
	color: white !important;
	float: left;
	font-size: 2em;
}
.navbar-header {
	padding: 0px;
}
button {
  clear: both;
  margin-top: -30px;
}
#nav-list a {
	text-align: center;
	color: white;
}
#nav-list {
	background-color: green;
}
/*** End Header ***/

.box {
	border: 5px solid black;
	margin: 5px;
	height: relative;
	overflow: hidden;
	background-color: green;
}
.box h3 {
	text-align: center;
	color: yellow;
	font-weight: bold;
}
.box p {
	margin: 5px;
	color: lightyellow;
}
#big {
	height: 1000px;
	background-color: blue;
}
